<body>
  <div class="jumbotron">
    <h1 class="h1">Teacher-student Home Page</h1>
    <p class="lead">Select the below Teachers button</p>
    <p class="lead">
      <a href="/teachers" class=" btn btn-primary btn-lg">Teachers</a>
      <a href="/students" class=" btn btn-primary btn-lg">Students</a>

    </p>
  </div>